.app {
  &__inner {
    @media (min-width: $content-max) {
      position: relative;
      width: $content-max;
      min-height: 100vh;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
