.contact {
  .page {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      @media (min-width: $break-medium) {
        flex-direction: row;
      }
    }
  }
}
