.interests {
  &__gallery {
    img {
      width: 100%;
    }
  }

  .page {
    &__inner {
      @media (max-width: $break-medium - 1) {
        padding-top: 55px;
        padding-bottom: 30px;
      }

      @media (min-width: $break-medium) {
        padding-right: 25px;
      }
    }

    &__left {
      @media (max-width: $break-medium - 1) {
        margin-bottom: 25px;
      }

      @media (min-width: $break-medium) {
        position: fixed;
        top: 50%;
        width: calc(50% - 55px);
        transform: translateY(-50%);
        transition: all $delay ease;
      }

      @media (min-width: $break-large) {
        width: calc(50% - 75px);
      }
    }

    &__right {
      @media (min-width: $break-medium) {
        margin-left: 50%;
      }
    }
  }

  &.js-up {
    .page__left {
      top: calc(50% - 100px);
    }
  }

  &.js-down {
    .page__left {
      top: calc(50% + 100px);
    }
  }
}