.main-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  .nav {
    &__list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      a {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        color: $color-blue;
        text-decoration: none;

        &:after {
          content: '';
          position: absolute;
          top: calc(50% - 5px);
          right: calc(50% - 5px);
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: $color-blue;
          transition: background-color calc(#{$delay} / 2);
        }

        span {
          position: absolute;
          top: 50%;
          right: -10px;
          width: 200px;
          opacity: 0;
          font-size: 18px;
          text-align: right;
          margin-right: 70px;
          pointer-events: none;
          transform: translateY(-50%);
          transition: all calc(#{$delay} / 2);
        }

        &:hover,
        &:focus {
          width: 100%;

          &:after {
            opacity: 0.8;
          }

          span {
            opacity: 1;
            right: 0;
          }
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &.js-active {
        a {
          &:after {
            background-color: $color-tan;
          }

          span {
            opacity: 0;
          }
        }
      }

      &.shake-little {
        a:after {
          background-color: $color-black;
        }
      }
    }
  }
}
