.pages {
  position: relative;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all #{$delay} ease 0s;

  @media (min-width: $break-medium) {
    width: calc(100% - 50px);
  }

  &__inner {
    position: relative;
    top: 0;
    @include gutter;
    @include clearfix;
    overflow: auto;
    height: 100%;
    transition: all #{$delay} ease 0s;
  }

  &__left {
    width: 100%;
    opacity: 0;
    transition: all #{$delay} calc(#{$delay} / 4);

    @media (min-width: $break-medium) {
      float: left;
      width: 50%;
      padding-right: 15px;
    }

    @media (min-width: $break-large) {
      padding-right: 25px;
    }
  }

  &__right {
    width: 100%;
    opacity: 0;
    transition: all #{$delay} calc(#{$delay} / 2);

    @media (min-width: $break-medium) {
      float: left;
      width: 50%;
      padding-left: 25px;
    }
  }

  &.js-active {
    opacity: 1;
    visibility: visible;

    .page {
      &__left,
      &__right {
        opacity: 1;
      }
    }
  }

  &.js-up {
    .page__inner {
      top: -100px;
    }
  }

  &.js-down {
    .page__inner {
      top: 100px;
    }
  }
}
