.pages {
  position: relative;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all #{$delay} ease 0s;

  &__inner {
    @include clearfix;
    @include gutter;
    padding-top: 19vh;
  }

  &__left {
    float: left;
    width: 50%;
    opacity: 0;
    transition: all #{$delay} calc(#{$delay} / 4);

    @media (min-width: $break-medium) {
      padding-right: 30px;
    }

    @media (min-width: $break-medium) {
      padding-right: 50px;
    }
  }

  &__right {
    float: left;
    width: 50%;
    opacity: 0;
    transition: all #{$delay} calc(#{$delay} / 3);

    @media (min-width: $break-medium) {
      padding-left: 30px;
    }

    @media (min-width: $break-medium) {
      padding-left: 50px;
    }
  }

  &.js-active {
    opacity: 1;
    visibility: visible;

    .page {
      &__left,
      &__right {
        opacity: 1;
      }
    }
  }

  &.js-up {
    top: -100px;
  }

  &.js-down {
    top: 100px;
  }
}