
// Visually hidden fields
.visually-hidden,
form label {
  position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.page a {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: $color-green2;
  transition: all $delay ease;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: $color-green2;
    transition: all $delay ease;
  }

  &:hover {
    color: $color-green;

    &:after {
      width: 100%;
      background-color: $color-green;
    }
  }
}