h1 {
  font-family: $font-playfair;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.23;

  @media screen and (min-width: $break-medium) {
    font-size: 40px;
  }

  @media screen and (min-width: $break-large) {
    font-size: 60px;
  }
}

h2 {
  font-family: $font-playfair;
  margin: 1.2em 0 5px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.21;

  @media screen and (min-width: $break-medium) {
    font-size: 30px;
  }

  @media screen and (min-width: $break-large) {
    font-size: 50px;
  }
}

h3 {
  font-family: $font-playfair;
  margin: 1.2em 0 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;

  @media screen and (min-width: $break-large) {
    font-size: 30px;
  }
}

h4 {
  font-family: $font-playfair;
  margin: 1.2em 0 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.39;

  @media screen and (min-width: $break-large) {
    font-size: 25px;
  }
}

h5 {
  font-family: $font-playfair;
  margin: 1.2em 0 5px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.93;

  @media screen and (min-width: $break-large) {
    font-size: 20px;
  }
}

h6 {
  font-family: $font-playfair;
  margin: 1.2em 0 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;

  @media screen and (min-width: $break-large) {
    font-size: 14px;
  }
}

p {
  font-family: $font-montserrat;
  margin: 0 0 1em;
}