@mixin gutter {
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 450px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $break-medium) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $break-large) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin block() {
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -67px;
    width: 60px;
    height: 60px;
    background-color: $color-green;
    transform: skewY(18deg);
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 110px;
    bottom: -110px;
    width: 30px;
    height: 30px;
    background-color: $color-red;
    transform: skewY(-18deg);
    z-index: 1;
  }
}
