// Media Breakpoints
$break-medium: 700px;
$break-large: 1024px;
$content-max: 1600px;

// Colors
$color-red: #CE4535;
$color-red2: #ea5252;
$color-tan: #FCFD36;
$color-blue: #96B9FF;
$color-blue2: #5B5073;
$color-blue3: #A2A0B4;
$color-green: #71A893;
$color-green2: #478A6F;
$color-grey: #c7c7c7;
$color-white: #FFFFFF;
$color-white2: #fcfcfc;
$color-black: #000000;
$color-black2: #1a1a1a;

$delay: 0.7s;

// Fonts
$font-playfair: 'Playfair Display', serif;
$font-montserrat: 'Roboto', sans-serif;

/*
* Light: 300
* Regular: 400
* Bold: 700
*/