// Media Breakpoints
$break-medium: 700px;
$break-large: 1024px;
$content-max: 1600px;

// Colors
$color-red: #CD4157;
$color-teal: #75A69F;
$color-tan: #DEB87A;
$color-blue: #425771;
$color-grey: #cdcbc9;
$color-white: #FFFFFF;
$color-white2: #fcfcfc;
$color-black: #000000;

$delay: 0.7s;

// Fonts
$font-playfair: 'Playfair Display', serif;
$font-montserrat: 'Montserrat', sans-serif;

/*
* Light: 300
* Regular: 400
* Bold: 700
*/