// Media Breakpoints
$break-medium: 700px;
$break-large: 1024px;

// Colors
$color-red: #EB2A41;
$color-blue-dark: #132142;
$color-blue-light: #109DBD;
$color-green: #32B8A8;
$color-tan: #E3DED4;
$color-white: #FFFFFF;

// Fonts
$font-playfair: 'Playfair Display', serif;
$font-montserrat: 'Montserrat', sans-serif;

/*
* Light: 300
* Regular: 400
* Bold: 700
*/